NODE_ENV = '<condition>'
PORT = '<port used>'

DB_USERNAME = <your_database_username>
DB_PASSWORD = <your_database_password>
DB_DATABASE = <your_database_name>
DB_HOST = <your_database_host>
DB_POST = <your_database_post>

DB_DATABASE_TEST = <your_database_name_for_testing>

// DUMMY USER DATA 
ADMIN_EMAIL = 
ADMIN_PASSWORD = 
ADMIN_NAME = 

STAFF_1_EMAIL = 
STAFF_1_PASSWORD = 
STAFF_1_NAME = 

STAFF_2_EMAIL = 
STAFF_2_PASSWORD = 
STAFF_2_NAME =

// AUTHENTICATION
JWT_SECRET = 