# ENV Configuration
NODE_ENV = '<condition>'
PORT = '<port used>'

# DB Configuration
DB_USERNAME = <your_database_username>
DB_PASSWORD = <your_database_password>
DB_DATABASE = <your_database_name>
DB_HOST = <your_database_host>
DB_POST = <your_database_post>

DB_DATABASE_TEST = <your_database_name_for_testing>

# Supabase for production
DATABASE_URL = <your_supabase_connection_string>

# Dummy data for testing
ADMIN_EMAIL = <admin_role_testing_email>
ADMIN_PASSWORD = <admin_role_testing_password>
ADMIN_NAME = <admin_role_testing_name>

STAFF_1_EMAIL = <staff_role_testing_email>
STAFF_1_PASSWORD = <staff_role_testing_password>
STAFF_1_NAME = <staff_role_testing_name>

STAFF_2_EMAIL = <staff_role_testing_email>
STAFF_2_PASSWORD = <staff_role_testing_password>
STAFF_2_NAME = <staff_role_testing_name>

# Authentication
JWT_SECRET = <your_jwt_secret>

# Cloudinary 
CLOUDINARY_CLOUD_NAME = <your_cloudinary_cloud_name>
CLOUDINARY_API_KEY = <your_cloudinary_api_key>
CLOUDINARY_API_SECRET = <your_cloudinary_api_secret>

